<div class="container cont-on-sale">
	<div class="header-onsale-cont">

		<button type="button" class="left-button" data-left>
			<span class="material-icons">
				chevron_left
			</span>
		</button>

		<span class="sale-title">
			<h1>Розпродаж</h1>
		</span>

		<span class="different-title">
			<h1>Piзне</h1>
		</span>

		<a class="link show-all" href="./category-chosen.html"><span class="current-page">Дивитися всі</span>
		</a>

		<button type="button" class="left-button" data-left>
			<span class="material-icons">
				chevron_right
			</span>
		</button>

	</div>

	<div>
		<ul class="products-CardOnSale"></ul>
	</div>
</div>